@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

html, body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}



.container {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    background: #222;
    border-radius: 0.25rem;
}
header form {
    display: flex;
    gap: 1rem;
}
header input {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    flex: 1;
}

.list button:focus,
header input:focus {
    outline: 2px dashed #000;
}

header button {
    background-color: #000;
    border: none;
    padding: 0.75rem 3rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
}


.content {
    padding: 2rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    padding: 0;
}

.list li.completed {
    background-color: #1c1c1c;
}
.list li.completed span {
    text-decoration: line-through;
    opacity: 0.5;
}

.list li {
    display: flex;
    background-color: #111;
    align-items: stretch;
    color: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
}
.list li + li {
    margin-top: 0.5rem;
}
.list li span {
    flex: 1;
    padding: 0.75rem 1rem;
    align-self: center;
}
.list button {
    align-self: center;
    color: #721e1e;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 1;
    font-size: 2rem;
    padding: 0.75rem 1rem;
    margin-top: -0.5rem;
    position: relative;
}
header button span {
    z-index: 2;
    position: relative;
}
header button {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}
header button::after {
    height: 2px;
    background: #721e1e;
    width: 100%;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
header button:hover::after {
    height: 100%;
}